*{
    box-sizing: border-box;
}
bo{
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}
.header{
    
    width: 1200px;
    background-color: #f0a7a2;
    margin: 0 auto;
    
}
h1{
    
        color: #521004;
        font-size: 50px;
        background-color: hwb(41 43% 3%);
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        margin: 0;
        padding: 10px 20px;
        text-align: center;
    
}
.header p{
    
        font-size: 25px;
        margin: 0;
        padding: 15px 30px;
    text-align: center;
    line-height: 130%;
    font-weight: 500;
    text-transform: capitalize;
}
.container p{
    font-size: 20px ;margin:0;
    
}
.container {

    display: flex;
    margin: 50px auto;
    width: 1200px;
    flex-wrap: wrap;
    gap: 2%;
}
.column1{
    
    flex-basis: 49%;
    padding-right: 10px;
    
}
.column2 {
    
    flex-basis: 49%;
    
   
}
img{
    max-width: 100%;
    display: block;
}.box{
    background-color: rgb(214, 157, 104);
    padding: 40px;
    height: 100%;
}
h3{
    margin: 0;
}